/*
# style.css
#
# v1.1
#
# Cyril Weller
# cyril.weller@protonmail.com
#
# GNU GPLv3 license
#
*/

body {
  background-color: white;
  margin: 0px 0px 0px 0px;
}

section {
  background-image: url("../img/background.png"); /* Background pattern from subtlepatterns.com */
  margin-left: 4px;
  margin-right: 4px;
  margin-top: 4px;
  margin-bottom: 4px;
}

div {
  font-size: 10pt;
  font-family: "Arial", Arial, sans-serif;
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 5px;
  padding-bottom: 5px;
}
