/*
# style.css
#
# v1.2.3
#
# Cyril Weller
# cyril.weller@protonmail.com
#
# GNU GPLv3 license
#
*/

body {
  width: 140px;
  height: 90px;
  margin: 0px 0px 0px 0px;
  background-image: url("../img/background.png"); /* Background pattern from subtlepatterns.com */
}

section {
  background-color: #F9F9F9;
  width : 134px;
  height : 84px;
  margin-left: auto;
  margin-right: auto;
  margin-top: auto;
  margin-bottom: auto;
}

div {
  font-family: "Arial", Arial, sans-serif;
  font-size: 10pt;
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 5px;
  padding-bottom: 5px;
  color:#424242;
}
